.menu-page {
    background: linear-gradient(135deg, #939497, #292829);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-title {
    color: white;
    font-size: 70px;
    margin-bottom: 5px;

}

.menu-title {
    color: white;
    font-size: 35px;
    margin-bottom: 15px;
    letter-spacing: 2px;
}

.menu-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.menu-item {
    padding: 15px 25px;
    background: rgba(0, 255, 234, 0.901);
    color: rgb(0, 0, 0);
    font-size: 35px;
    border-radius: 12px;
    text-decoration: none;
    text-align: center;
    backdrop-filter: blur(10px);
    transition: 0.25s;
}

.menu-item:hover {
    transform: scale(1.05);
    background: rgba(255, 255, 255, 0.25);
}

.menu-item {
    padding: 15px 25px;
    background: rgb(245, 249, 2);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 16px;
    backdrop-filter: blur(15px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.menu-item:hover {
    transform: translateY(-4px) scale(1.06);
    background: rgba(7, 223, 252, 0.916);
    box-shadow: 0 12px 26px rgba(0, 0, 0, 0.3);
}
